{% extends "base.html" %}
{% block title %}TOPページ{% endblock %}
{% block content %}
    <form method="POST" class="mt-5 d-flex flex-column align-items-center">
        <div class="input-group mb-3 w-75">
            <span class="input-group-text" id="inputGroup-sizing-default">URL</span>
            <input type="url" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <button type="submit" class="btn btn-outline-dark w-25">GO!</button>
    </form>
{% endblock %}